{% extends 'base.html' %}
{% load static %}


  {% block style %}
  <link rel="stylesheet" href="{% static 'style/forgetpass.css' %}" />
  <link rel="stylesheet" href="{% static 'style/toast.css' %}" />

   {% endblock %}




{% block title %}
          بازیابی رمز
{% endblock %}

{% block content %}

  <div class="alert-boxs-error hidden">

      {% if messages %}
      {% for message in messages %}
       {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <p id="msg">{{ message }}</p>
      {% endif %}
      {% endfor %}
       {% endif %}
     <span class="close-btn">&times;</span>
    </div>




        <div class="container">
        <div class="shadow"></div>



        <form class="reset-pass-form"  method="post">
        {% csrf_token %}

            {{ forget_pass_form }}
 <p>لینک بازیابی رمز به ایمیل شما ارسال میشود</p>
            <button type="submit">ارسال</button>


        </form>
    </div>

     {% endblock %}


{% block javascript %}


    <script src="{% static 'js/error_toast.js' %}"></script>

{% endblock %}